# Node.js dependencies
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE or Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Optional: ignore coverage reports
coverage/

# Optional: ignore tests folder
tests/
